<div class="index">
  <div class="center jumbotron"> 
    <div class="serchall">
      <input class="serch" type="search" name="search" placeholder="現場名、地名等入力して下さい">
      <button type="button">検索</button>
    </div>

      
    <div>
      <p>職人向け条件検索</p>
      <button type="button">施工エリア</button>
      <button type="button">工期</button>
      <button type="button">金額</button>
    </div>

    <div>
      <p>事業所向け条件検索</p>
      <button type="button">活動エリア</button>
      <button type="button">資格</button>
      <button type="button">経験年数</button>
    </div>

    <%= link_to "投稿", new_spot_path %>

  </div>

  <div class="container px-3">
    <div class="row mx-n5">
      <div class="col px-4">
        <div class="p-3 border bg-light">
          <p class="listtitle">新着現場一覧</p>
          <div class="newspots">
            <%= render @spots %>
          </div>
        </div>  
      </div>
      <div class="col px-4">
        <div class="p-3 border bg-light">
          <p class="listtitle">新規職人一覧</p>       
        </div>
      </div>
    </div>
  </div>

  
</div>

