// .navbar-expand-lg {
//   background-color: rgb(193, 222, 248);
  
// }
.header-top {
  box-shadow: 0 0 4px black;
}

.container-fluid {
  font-family: "ヒラギノ丸ゴ ProN";
}

.navbar {
  padding:10px 0 10px 0;
  height: 80px; 
}

.navbar-brand {
  padding: 0 10px 0 10px;
  font-weight: 900;
  font-size: 24px;
}

.nav-link {
  color: #0d6efd;
}

.nav-link:hover {
  color: #0a58ca;
}
