 <div class="card seach-worker">
    <div class="card-header user-search-top">
      検索結果一覧
    </div>
  <% @users.each do |user| %> 
    <% if user.id != 6 && user.profession == "worker" %>
      <%= render user %>
    <% end %>
  <% end %>
</div>