 <div class="card seach-worker">
    <div class="card-header user-search-top">
      検索結果一覧
    </div>
  <% @users.each do |user| %> 
    <% if user.email != "guest@example.com" && user.profession == "worker" %>
      <%= render user %>
    <% end %>
  <% end %>
</div>