body {
  font-family: "ヒラギノ丸ゴ ProN";
}

.jumbotron {
  text-align: center;
  .searchall-form {
    margin: 20px 0;
  }
  .serch {
    width: 500px;
  }
  p {
    margin: 20px 0 5px 0;
  }
}

.listtitle {
  text-align: center;
}




