.index {
  text-align: center;
}
.jumbotron {
  text-align: center;
  .serch {
    width: 500px;
  }
  p {
    margin: 20px 0 5px 0;
  }
}

.chart{
  // max-width:600px;
  text-align: center;
}
.min{
  padding: 0 20px 0 20px;
  float: left;
  width: 50%;
  border-bottom: solid 2px #000000;
}
  


