.seach-worker {
  max-width: 414px;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
// .profile-search {
//   margin-top: 10px;
//   margin-bottom: 10px;
//   max-width: 360px;
//   padding: 10px 5px;
//   border-style: groove;
//   &-default-img {
//     height: 64px;
//     width: 64px;
//     object-fit: cover;
//     border-radius: 50%;
//     background-image: url("~profile_default_img_128.png");
//     background-size: contain;
//   }
//   &-img {
//     height: 64px;
//     width: 64px;
//     object-fit: cover;
//     border-radius: 50%;
//   }
// }


// ul {
//   list-style: none;
// }