.user-show-page {
  max-width: 414px;
  margin: 0 auto;
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &-default-img {
      height: 128px;
      width: 128px;
      object-fit: cover;
      border-radius: 50%;
      background-image: url("~profile_default_img_128.png");
      background-size: contain;
    }
    &-img {
      height: 128px;
      width: 128px; 
      border-radius: 50%;
      object-fit: cover;
    }
    &-name {
      font-size: 24px;
    }
    // &-text {
    //   padding: 16px 24px 16px;
    //   word-break: break-all;
    // }
    #follow_form {
      margin: 10px 0;
    }
  }
}

.unfollow {
  background-color: rgb(161, 159, 159);
}

.stats {
  a {
    padding: 0 10px;
    color: gray;
    &:hover {
      text-decoration: none;
      color: blue;
  }
  }
}

.details-index {
  margin: 30px 15px 15px 15px;
  position: relative;
  border: solid 2px gray;
  border-radius: 8px;
  .details-title {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: gray;
    font-weight: bold;
  }
  .details-contents {
    border-top: dotted 2px rgb(133, 73, 73);
    padding: 15px 15px 0 15px;
    margin: 15px 0;
  }  
}

.user-action {
  display: flex;
  justify-content: space-between;
  color:#c3c7d0;
  margin: 48px;
  &-common {
    color: #5c5c5c;
    & > a {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-bottom: 8px;
      color: #5c5c5c;
      box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
      transition: color .5s;
    }
  }
}

@media (min-width: 414px) {
  .user-show-page {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 8px auto;
  }
}

.spot-index {
  text-align: center;
}

.spotslist {
  justify-content: center;
}