.spot-details {
  list-style-type: none;
  border-style: groove;
  border-width: 2px;
  background-color: white;
  margin: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  .spot-name {
    text-decoration: none;
  }
  .fas {
    height: 16px;
    width: 20px;
  }
  .fa-map {
    margin-right: 2px;
  }
  .fa-calendar {
    margin-right: 6px;
  }
  .fa-dollar-sign {
    margin-right: 11px;
  }
}

.spot-delete {
  padding: 0%;
  margin-top: 5px;
  height: 20px;
  width: 60px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
}
