<header class="navbar navbar-dark bg-dark navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to "現場マッチ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right list-group list-group-horizontal">
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", user_session_path %></li>
      </ul>
    </nav>
  </div>
</header>