<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "現場マッチ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right list-group list-group-horizontal">
        <li><%= link_to "新規登録", '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>